.container.mt-4
  .row.justify-content-center
    .col-12.col-lg-10
      %h1.text-center Forgot your password?
      .mt-4
        = form_with(url: password_reset_path, class: "shadow p-3 mb-5 bg-light-blue rounded") do |f|
          .form-group.row.mt-3
            %p.lead
              = "You forgot your password? No problem."
              %br
              = "To reset your password simply enter your email address below and you'll receive a link to reset your password."
          .form-group.row.mt-3
            = f.label :email, class: 'col-md-2 col-sm-3 col-form-label fw-bolder', for: 'email'
            .col-md-10.col-sm-9
              = f.email_field :email, class: 'form-control shadow-sm rounded', id: 'email', placeholder: 'johndoe@example.com'
          .form-group.row.mt-3.justify-content-end
            .col-auto
              = f.submit "Reset password", class: "btn btn-outline-primary btn-lg"
