= form_with(model: article, local: true) do |f|
  %p 
    = f.label :title 
    %br/
    = f.text_field :title
  %p
    = f.label :description 
    %br/
    = f.text_area :description
  = f.submit "Update Article" if controller.action_name.in?(['edit', 'update'])
  = f.submit "Create Article" if controller.action_name.in?(['new', 'create'])