%main
  %h1.text-center.mt-4 All articles
  .container.all-articles
    .row.align-items-lg-center.justify-content-center.mt-3
      - @articles.each do |article|
        .col-lg-6.d-flex.align-self-stretch
          .card.text-center.my-3
            = link_to '', article, class: 'stretched-link'
            .card-header by Fabian Schwarz
            .card-body
              %h5.card-title= truncate(article.title, length: 100, separator: /\s/, omission: ' [...]')
              %p.card-text= truncate(article.description, length: 300, separator: /\s/, omission: ' [...]')
              = link_to 'Show', article, class:'btn btn-primary'
              = link_to 'Edit', edit_article_path(article), class:'btn btn-primary'
              = link_to 'Delete', article, class:'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' }
            .card-footer.text-muted
              %small Last updated 3 mins ago

  = link_to 'New Article', new_article_path, class:'btn btn-primary align-items-lg-center'
