- if @categories != nil
  - categories = []
  - @categories.each do |category|
    - categories << category.name
.text-center.mx-5
  %h1.mt-4= "All articles" + (@categories.blank? ? "" : " of #{"category".pluralize(categories.count)} #{categories.to_sentence}")
  - if !@categories.blank?
    = link_to 'Show all articles', @article, class:'btn btn-outline-primary btn-lg mt-2'
.cards-page
  .container.all-articles.mt-3
    .row.align-items-lg-center.justify-content-center
      - @articles.each do |article|
        .col-lg-6.d-flex.align-self-stretch
          = render 'article', article: article
  - if @articles.count > Article::PAGE_LIMIT
    .container.mt-5.pagination.justify-content-center
      = will_paginate @articles, previous_label: 'Previous', next_label: 'Next'
