%h1 Showing article details

= link_to 'Return to articles listing', articles_path

%p
  %strong Title:
  = @article.title
%p
  %strong Description:
  = @article.description
%p 
  = link_to 'Edit', edit_article_path(@article)
  |
  = link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' } 