.container.mt-4
  .row.justify-content-center
    .col-12.col-lg-10
      - if logged_in? && (current_user ==  @article.user || current_user.admin?)
        .d-flex.justify-content-end
          = link_to 'Edit', edit_article_path(@article), class:'btn btn-outline-primary btn-lg d-none d-lg-block mx-2'
          = link_to "Edit", edit_article_path(@article), class:'btn btn-outline-primary btn-md d-block d-lg-none mx-2'
          = link_to 'Delete', @article, class:'btn btn-outline-danger btn-lg d-none d-lg-block', method: :delete, data: { confirm: 'Are you sure?' }
          = link_to 'Delete', @article, class:'btn btn-outline-danger btn-md d-block d-lg-none', method: :delete, data: { confirm: 'Are you sure?' }
      .mt-3
        .card.text-center.my-3
          .card-header.text-muted.d-flex.justify-content-end
            %small= "Created #{time_ago_in_words(@article.created_at)} ago, edited #{time_ago_in_words(@article.updated_at)} ago"
          .card-body
            %h2.card-title.mx-auto.w-md-75= @article.title
            %p.lead.text-muted.d-flex.align-items-center.justify-content-center
              = link_to image_tag(gravatar_url_for(@article.user, size: 45), class: 'avatar shadow mx-2', alt: "Avatar of #{@article.user.fullname}"), user_path(@article.user)
              by 
              = link_to @article.user.fullname, user_path(@article.user), class:'user-link mx-1'
            %hr.mx-auto.w-50
            .card-text.text-start= markdown(@article.description)
          .card-footer.text-muted