%header
  %nav.navbar.navbar-expand-lg.navbar-dark.bd-navbar.fixed-top
    .container
      = link_to "ALPHA-BLOG", root_path, class: "navbar-brand", id: "logo"
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              Articles
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %li
                = link_to "View articles", articles_path, class: "dropdown-item"
                - if logged_in?
                  = link_to 'Create new article', new_article_path, class:'dropdown-item'
                %hr.dropdown-divider
                = link_to "All categories...", categories_path, class: "dropdown-item"
          %li.nav-item
            = link_to "Bloggers", users_path, class: "nav-link"
        %form.d-flex.mb-2.mb-lg-0
          %input.form-control.me-4{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
        - if logged_in?
          %ul.navbar-nav.list-group.list-group-horizontal
            %li.nav-item.d-flex.align-items-center
              = link_to image_tag(gravatar_url_for(current_user, size: 35), class: 'avatar shadow', alt: "Avatar of #{current_user.fullname}"), user_path(current_user)
              = link_to user_path(current_user), :class=> "nav-link" do
                = current_user.fullname
                - if current_user.admin?
                  %i.bi.bi-lightning-charge-fill.ms-1#admin-icon
            %li.nav-item.d-flex.align-items-center
              = link_to 'Log out', logout_path, class: 'btn btn-danger', method: :delete
        - else 
          %ul.navbar-nav
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", "data-bs-auto-close" => "outside", :href => "#", :role => "button"}
                Log in
              = render 'layouts/dropdown_login'
            %li.nav-item.d-flex.align-items-center
              = link_to 'Sign up', signup_path, class: 'btn btn-success'

