%header
  %nav.navbar.navbar-expand-lg.navbar-dark.bd-navbar.fixed-top
    .container
      = link_to "ALPHA-BLOG", root_path, class: "navbar-brand", id: "logo"
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              Articles
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %li
                = link_to "View articles", articles_path, class: "dropdown-item"
                = link_to 'Create new article', new_article_path, class:'dropdown-item'
          %li.nav-item
            = link_to "Bloggers", users_path, class: "nav-link"
        %form.d-flex.mb-2.mb-lg-0
          %input.form-control.me-4{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
        - if session[:user_id].nil?
          %ul.navbar-nav
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", "data-bs-auto-close" => "outside", :href => "#", :role => "button"}
                Log in
              = render 'layouts/dropdown_login'
            %li.nav-item
              = link_to 'Sign up', signup_path, class: 'btn btn-success'
        - else 
          %ul.navbar-nav
            %li.nav-item
              = link_to 'Log out', logout_path, class: 'btn btn-danger', method: :delete

